@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@100;400;500;600;700;800&family=Lato&family=Poppins:wght@100;300;400;500;600;700&family=Roboto+Mono:wght@100;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

body {
  padding: 0;
  margin: 0;
}

header {
  font-family: 'Poppins', sans-serif;
  color: hsl(0, 0%, 14%);
  letter-spacing: 0.5px;
}

li {
  list-style: none;
  font-style: italic;
}

.icon {
  width: auto;
  height: 15px;
  padding-right: 12px;
}

#ParentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.introList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  height: 30px;
  color: hsl(0, 0%, 14%);
  border-bottom: 1px solid grey;
}

#list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 0;
  margin: 0;
}

.hideme {
  opacity: 0;
}

#list-container li {
  border-top: 1px solid grey;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.vertical {
  justify-self: flex-end;
  color: grey;
}

#Addition {
  height: 48px;
  font-family: 'Inter', sans-serif;
  border: none;
  color: hsl(0, 0%, 14%);
  letter-spacing: 0.87px;
  width: 80%;
  font-weight: 600;
}

#Addition:hover {
  background-color: #f5f5f5;
}

#Addition::placeholder {
  color: grey;
  font-family: 'Inter', sans-serif;
}

#Addition:active {
  border: none;
  outline: none;
}

.clearAll {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  width: 100%;
  border-left: none;
  border-right: none;
  height: 48px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  color: hsl(0, 0%, 14%);
  font-weight: 600;
  letter-spacing: 0.23px;
}
#form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#AddButton{
    border: none;
    background-color: white;
}
.icon3{
    width: auto;
    height: 15px;
    padding-right: 12px;
}
.completed{
    text-decoration: line-through;
}
.edit{
    display: none;
}